/Users/nirvanabear/Documents/code/CodeDay_Labs/self-driving/wifi/SimpleWebServer/arduino_secrets.h
/Users/nirvanabear/Documents/code/CodeDay_Labs/self-driving/wifi/ConnectWithWPA/arduino_secrets.hmylogfile.log
